/* Remember; this is a comment */

/* Import Poppins font family here from Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');


/* Typography */

/* BONUS: Hex color #535865 for the text color to be converted to HSl: (223, 10%, 36%) */

p, li {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: hsl(223, 10%, 36%);
}

/* BONUS: Hex color #865B9A for the contrast color (for titles, etc) to be converted to HSl: (281, 26%, 48%) */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: hsl(281, 26%, 48%);

}

/* Making the introduction part of the text bold */

#introduction {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

/* BONUS: Hex color #DFD9E2 for the background to be converted to HSl: (280, 13%, 87%) */
body {
    background-color: hsl(280, 13%, 87%);
}

/* Underlining H1 titel */

h1 {
    text-decoration: underline;
}

/* TO DO NEXT: */

/* gezonde fruitsoort spaced letters */

h2 {
    text-transform: uppercase;
    letter-spacing: 8px;
}

/* centering of h1 & "gezonde fruitsoort" oftewel h2 */

h1, h2 {
    text-align: center;
}

/* Button style changes, purple background, poppins font etc */

button {
    background-color: hsl(281, 26%, 48%);
    color: white;
    font-size: 24px;
}

button:hover {
    background-color: crimson;
}

/* Make listed items have a square instead of a circle bullet */

ul {
    list-style: square;
}
