/* Remember; this is a comment */

/* Padding & Margin CSS reset so the browser doesn't override any style changes */

* {
    margin: 0;
    padding: 0;
}

/* Import Poppins font family here from Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');


/* Typography */

p, li {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

/* Making the introduction part of the text bold */

#introduction {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

/* BONUS: Hex color #DFD9E2 for the background to be converted to HSl: (280, 13%, 87%) */
body {
    background-color: #DFD9E2;
}

/* BONUS: Hex color #535865 for the text color to be converted to HSl: (223, 10%, 36%) */

p {
    color: #535865;
}

li {
    color: #535865;
}

/* BONUS: Hex color #865B9A for the contrast color (for titles, etc) to be converted to HSl: (281, 26%, 48%) */

|h1,h2,h3,h4,h5,h6 {
    color: #865B9A;
}


